{% extends 'base.html' %}
{% load static %}

{% block content %}
    
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Profile Details</h1>
                    <div class="text-center">
                        <!-- Optional Profile Image -->
                        {% if user.profile.profile_picture %}
                            <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}'s Profile Picture" class="rounded-circle img-fluid mb-3" style="width: 150px; height: 150px;">
                        {% else %}
                            <img src="{% static 'images/default_account.jpg' %}" alt="Default Profile Picture" class="rounded-circle img-fluid mb-3" style="width: 150px; height: 150px;">
                        {% endif %}
                    </div>

                    <p class="text-muted"><strong>Username:</strong> {{ user.username }}</p>
                    <p class="text-muted"><strong>Email:</strong> {{ user.email }}</p>
                    {% if user.profile.first_name and user.profile.last_name %}
                        <p class="text-muted">
                            <strong>Full Name:</strong> {{ user.profile.first_name }} {{ user.profile.last_name }}
                        {% elif user.profile.first_name %}
                        <p class="text-muted">
                            <strong>Full Name:</strong> {{ user.profile.first_name }}
                        </p>
                        {% else %}
                        <p class="text-muted">
                            <strong>Full Name:</strong> {{ user.profile.last_name }}
                    {% endif %}
                    {% if user.profile.description %}
                        <p class="text-muted"><strong>About Me:</strong> {{ user.profile.description }}</p>
                    {% endif %}

                    <!-- Buttons for editing or returning -->
                    {% if request.user.is_superuser or request.user.pk == user.pk %}
                        <div class="mt-4">
                            <a href="{% url 'edit-account' user.pk %}" class="btn btn-outline-primary">Edit Profile</a>
                            <a href="{% url 'delete-account' user.pk %}" class="btn btn-outline-secondary">Delete</a>
                        </div>
                    {% endif %}
                <div><a href="{% url 'home' %}" class="btn btn-outline-secondary">Back to Home</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
