{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="text-center mb-4">Manage ingredients for {{ recipe.title }}</h1>

                <!-- Ingredient List -->
                <h3>Ingredients</h3>
                <ul class="list-group mb-4">
                    {% for ingredient in ingredients %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ ingredient.ingredient }} - {{ ingredient.quantity }} {{ ingredient.measurement }}
                            <div>
                                <a href="{% url 'ingredient-edit' recipe.id ingredient.id %}" class="btn btn-warning btn-sm">Edit</a>
                                <a href="{% url 'ingredient-delete' recipe.id ingredient.id %}" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">No ingredients added yet.</li>
                    {% endfor %}
                </ul>

                <!-- Add New Ingredient -->
                <div class="d-grid gap-2 mt-4">
                    <a href="{% url 'ingredient-create' recipe.id%}">Add New Ingredient</a>
                </div>

                <!-- Back to Recipe Edit -->
                <div class="d-grid gap-2 mt-4">
                    <a href="{% url 'recipe-detail' recipe.id %}" class="btn btn-secondary">Back to Recipe Details</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
