{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <!-- Recipe Title -->
                        <h1 class="text-center">{{ recipe.title }} {% if request.user == recipe.created_by or request.user.is_superuser or request.user.is_staff %}
                            <div class="mt-4">
                                <a href="{% url 'recipe-edit' recipe.id %}" class="btn btn-outline-primary">Edit
                                    Recipe</a>
                                <a href="{% url 'manage-ingredients' recipe.id %}" class="btn btn-outline-secondary">Manage
                                    Ingredients</a>
                                <a href="{% url 'recipe-delete' recipe.id %}" class="btn btn-outline-danger">Delete
                                    Recipe</a>
                            </div>
                        {% endif %}</h1>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                        <div style="font-weight: 700; font-family: work-sans, sans-serif">  Rating :
                            {% if avg_rating %}
                            {{ avg_rating|floatformat:2 }}
                            {% else %}
                            Not rated yet!
                            {% endif %}

                            ({{ reviews_count }})</div>
                        {% if user.is_authenticated %}
                            {% if user_review.rating %}
                                <div class="rating rating2" id="stars-rating" style="pointer-events: none">
                            {% else %}
                                <div class="rating rating2" id="stars-rating">
                            {% endif %}
                        <a class="{% if user_review.rating >= 5 %} checked {% endif %}" href="#5"
                           title="Give 5 stars" data-value="5">★</a>
                        <a class="{% if user_review.rating >= 4 %} checked {% endif %}" href="#4"
                           title="Give 4 stars" data-value="4">★</a>
                        <a class="{% if user_review.rating >= 3 %} checked {% endif %}" href="#3"
                           title="Give 3 stars" data-value="3">★</a>
                        <a class="{% if user_review.rating >= 2 %} checked {% endif %}" href="#2"
                           title="Give 2 stars" data-value="2">★</a>
                        <a class="{% if user_review.rating >= 1 %} checked {% endif %}" href="#1"
                           title="Give 1 star" data-value="1">★</a>
                        </div>
                        {% endif %}
                        <p class="text-muted" style="margin-bottom: auto">
                            <strong>Created by:</strong>
                            {% if recipe.created_by %}
                                <a href="{% url 'detail-account' recipe.created_by.id %}">{{ recipe.created_by }}</a>
                            {% endif %}
                        </p>

                        <p class="text-muted"><strong>Created at:</strong> {{ recipe.created_at }}</p>

                        <!-- Recipe Image -->
                        {% if recipe.image %}
                            <div class="text-center mb-4">
                                <img src="{{ recipe.image.url }}" class="img-fluid" alt="{{ recipe.title }}">
                            </div>
                        {% else %}
                            <div class="text-center mb-4">
                                <img src="{% static 'images/default_recipe.gif' %}" class="img-fluid" alt="{{ recipe.title }}">
                            </div>
                        {% endif %}

                        <!-- Recipe Description -->
                        <h3 style="color:cornflowerblue">Description:</h3> {{ recipe.description }}

                        <!-- Preparation Time -->
                        <div style="margin-top:20px"><strong>Prep:</strong> {{ recipe.prep_time|default:"Not specified" }} minutes</div>
                        <div style="margin-bottom: 5px;margin-top:5px"><strong>Cook:</strong> {{ recipe.cook_time|default:"Not specified" }} minutes</div>
                        <div style="margin-bottom: 20px"><strong>Total Time:</strong> {{ recipe.total_time|default:"Not specified" }} minutes</div>
                    
                    <h3 style="color:cornflowerblue">Ingredients:</h3>
                        <ul>
                            {% for ingredient in recipe.recipe_ingredients.all %}
                                <li>{{ ingredient.quantity }} {{ ingredient.measurement }}
                                    {{ ingredient.ingredient.name }}</li>
                            {% empty %}
                                <li>No ingredients available.</li>
                            {% endfor %}
                        </ul>

                        <!-- Instructions -->
                        <section class="article-content" id="article-content-text">
                            <h3 style="color:cornflowerblue">Instructions:</h3>
                        <p>{{ recipe.instructions|linebreaks }}</p>
                        </section>

                        <!-- Comments Section -->
                        <div id="comments-section" class="mt-4">
                            <h4 style="color:cornflowerblue">Comments:</h4>
                            <ul id="comment-list">
                                {% for comment in recipe.comments.all %}
                                    <li class="comment-item" style="position:relative; box-shadow: none;">
                                        <a href="{% url 'detail-account' pk=comment.user.pk %}"><strong>{{ comment.user.username }}</strong></a>: {{ comment.content }}

                                        <br><small>{{ comment.created_at|date:"F j, Y, g:i a" }}</small>

                                        <!-- Edit Button for the comment -->
                                        {% if comment.user == request.user or request.user.is_superuser or request.user.is_staff %}
                                            <a href="{% url 'comment-update' comment.id %}"
                                               class="btn btn-outline-warning btn-sm ml-2">Edit</a>
                                        {% endif %}

                                        <!-- Delete button for the comment -->
                                        {% if comment.user == request.user or request.user.is_superuser or request.user.is_staff%}
                                            <form id="delete-button" action="{% url 'comment-delete' comment.id %}"
                                                  method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger comment-delete-btn">X
                                                </button>
                                            </form>
                                        {% endif %}
                                    </li>
                                {% empty %}
                                    <p>No comments yet. Be the first to comment!</p>
                                {% endfor %}
                            </ul>
                        </div>
                        {% if request.user.is_authenticated %}
                        <!-- Comment Form -->
                        <form method="post" action="{% url 'comment-create' recipe.id %}">
                            {% csrf_token %}
                            <textarea id="id_content" name="content" rows="3" class="form-control"
                                      placeholder="Leave a comment..." required></textarea>
                            <button type="submit" class="btn btn-primary mt-2">Submit</button>
                        </form>
                    {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="article-footer mt-4">
        <a href="{% url 'recipe-list' %}" class="btn btn-secondary">Back to Recipes</a>
    </footer>

    <script>
        $(document).ready(function () {
            // CSRF token setup for AJAX
            function getCsrfToken() {
                return document.querySelector('[name=csrfmiddlewaretoken]').value;
            }

            $(".rating a").on("click", function (e) {
                e.preventDefault(); // Prevent default anchor behavior
                let value = $(this).data("value");
                console.log(value)

                $.ajax({
                    url: "{% url 'submit_recipe_review' recipe.id %}",
                    type: "POST",
                    headers: {
                        "X-CSRFToken": getCsrfToken()
                    },
                    data: { rating: value },
                success: function (response) {
                    alert("Your rating was submitted successfully!");
                    window.location.reload()
                },
                });
            });
        });
    </script>
{% endblock %}
