{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">All Recipes</h1>
    <div class="text-end mb-3">
        {% if user.is_authenticated %}
        <a href="{% url 'recipe-create' %}" class="btn btn-primary">Add New Recipe</a>
        {% endif %}
    </div>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <!-- Recipe Image -->
                {% if recipe.image %}
                <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
                {% else %}
                <img src="{% static 'images/default_recipe.gif'%}" class="card-img-top" alt="Default Recipe Image">
                {% endif %}
                
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'recipe-detail' recipe.id %}" class="text-decoration-none">{{ recipe.title }}</a>
                    </h5>
                    <p class="card-text text-muted">{{ recipe.description|truncatechars:100 }}</p>
                    <p class="card-text"><strong>Prep Time:</strong> {{ recipe.preparation_time }} mins</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center">
            <p>No recipes found.</p>
            <a href="{% url 'recipe-create' %}" class="btn btn-primary">Add Your First Recipe</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
